* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.navbar {
    margin-top: 0;
    padding-top: 0;
    background: transparent;
    width: 100%;
    z-index: 10;
  }

.bg-hero {
    min-height: 60vh;
    margin-top: -46px;
    padding-top: 46px;
    background-image: url('../img/Cometa\ 3I\ Atlas.jpeg');
    background-size: cover;
    background-position: center;
    background-color: #c2c2c2;
}

.bg-hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: -1;
}

.bg-hero {
    position: relative;
    z-index: 2;
}

/* formulario*/

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#formMessage {
    width: 320px;
    max-width: 320px;
    border: 1px solid #fff;
    border-radius: 12px;
    background-color: #0853b4;
    transition: all 0.3s ease-in-out;
}

#formMessage h4 {
    text-align: center;
}

#formMessage input {
    max-width: 210px;
}

#textArea {
    height: 140px;
    resize: none;
    color: black;
    border-radius: 4px;
    background-color: #fff;
}

#formMessage .div-inputs {
    position: relative;
    align-items: center;
}

#formMessage .div-inputs input {
    color: black;
    border: none;
    border-radius: 4px;
    background-color: #fff;
}

#formMessage i {
    right: 6px;
    color: #0853b4;
    position: absolute;
}

#btn-send {
    border: 1px solid #fff;
}

.modal.fade-in {
  animation: fadeIn 0.3s ease-out;
}

/* animaciones */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
