* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea.form-control {
    resize: none;
}

.h1 {
    color: gradiant(160deg, #c2c2c2, #feb47b);
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}